<?xml version="1.0"?>
<config>
    <modules>
        <HusseyCoding_CmsMenuContent>
            <version>1.0.1</version>
        </HusseyCoding_CmsMenuContent>
    </modules>
    <global>
        <models>
            <cmsmenucontent>
                <class>HusseyCoding_CmsMenuContent_Model</class>
            </cmsmenucontent>
        </models>
        <blocks>
            <cmsmenucontent>
                <class>HusseyCoding_CmsMenuContent_Block</class>
            </cmsmenucontent>
            <adminhtml>
                <rewrite>
                    <cms_block_edit_form>HusseyCoding_CmsMenuContent_Block_Cms_Block_Edit_AdminhtmlForm</cms_block_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cmsmenucontent>
                <class>HusseyCoding_CmsMenuContent_Helper</class>
            </cmsmenucontent>
        </helpers>
        <resources>
            <cmsmenucontent_setup>
                <setup>
                    <module>HusseyCoding_CmsMenuContent</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cmsmenucontent_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cmsmenucontent>
                    <file>cmsmenucontent.xml</file>
                </cmsmenucontent>
            </updates>
        </layout>
        <events>
            <cms_page_save_before>
                <observers>
                    <adminhtml_cms_page_save_before_cmsmenucontent>
                        <type>singleton</type>
                        <class>cmsmenucontent/observer</class>
                        <method>adminhtmlCmsPageSaveBefore</method>
                    </adminhtml_cms_page_save_before_cmsmenucontent>
                </observers>
            </cms_page_save_before>
            <cms_page_load_after>
                <observers>
                    <adminhtml_cms_page_load_after_cmsmenucontent>
                        <type>singleton</type>
                        <class>cmsmenucontent/observer</class>
                        <method>adminhtmlCmsPageLoadAfter</method>
                    </adminhtml_cms_page_load_after_cmsmenucontent>
                </observers>
            </cms_page_load_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <cmsmenucontent>
                    <file>cmsmenucontent.xml</file>
                </cmsmenucontent>
            </updates>
        </layout>
        <events>
            <cms_page_render>
                <observers>
                    <adminhtml_cms_page_render_cmsmenucontent>
                        <type>singleton</type>
                        <class>cmsmenucontent/observer</class>
                        <method>frontendCmsPageRender</method>
                    </adminhtml_cms_page_render_cmsmenucontent>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
</config>